<div class="container">
<details>
  <summary class="h1">Get info about drug</summary>
  <p>In this section you can get quick info about chosen drug</p>
</details>

<form [formGroup]="matchForm">
  <hr />
  <div class="form-group col-md-5">
    <label for="prepInput">Enter name of the drug</label>
    <div class="input-button">
    <input
      list="prepsList"
      id="prepInput"
      formControlName="prepInput"
      class="form-control"
    />
    <datalist id="prepsList">
      <option *ngFor="let name of names" value="{{ name }}"></option>
    </datalist>

    <button class="btn btn-success" (click)="onGet()">Get info</button>
  </div>
  </div>
  <hr />
  <div class="row">
    <div class="prepInfo">
      <h4>{{prepName}}</h4>
      <h5>{{prepGroup}}</h5>
      <div class="contraindications">
        <ul class="contrList" *ngFor="let drug of prepContrSubs"> Contraindicated drugs:
          <li >{{drug}}</li>
        </ul>
        <ul class="contrList" *ngFor="let disease of prepContrDiseases">Inappropriate for diseases:
          <li >{{disease}}</li>
        </ul>
        
      </div>
    </div>
  </div>
</form>
</div>