<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container">
    <a class="navbar-brand h1" href="#">Do no Harm</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Quick Match</a>
        </li>

        <li class="nav-item">
          <button
            class="btn btn-primary patients-collapse"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#patientscollapse"
            aria-expanded="false"
            aria-controls="patientscollapse"
          >
            Patients
          </button>
          <div class="collapse" id="patientscollapse">
            <div class="card card-body">
              <ul>
                <li class="collapse-body-items">
                  <a routerLink="/my-patients">My Patients</a>
                </li>
                <li class="collapse-body-items">
                  <a routerLink="/add-new-patient">Add Patient</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
