<div class="container">
  <div class="row">
    <form [formGroup]="newPatientForm" (ngSubmit)="addPatient()">
      <h3>Patient`s personal info</h3>
      <hr />
      <div class="form-group row" id="patientData" formGroupName="patientData">
        <div class="form-group col-md-3">
          <label for="patientName">Name</label>
          <input
            type="text"
            id="patientName"
            formControlName="patientName"
            class="form-control"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="patientName">Second Name</label>
          <input
            type="text"
            id="patientSecondName"
            formControlName="patientSecondName"
            class="form-control"
          />
        </div>
        <div class="form-group col-md-3">
          <label for="patientName">Last Name</label>
          <input
            type="text"
            id="patientLastName"
            formControlName="patientLastName"
            class="form-control"
          />
        </div>
      </div>
      <div class="row medInfo">
        <div formArrayName="diseases">
          <h5>Add patient`s diseases</h5>
          <button
            class="btn btn-secondary plus-button"
            type="button"
            (click)="onAddDisease()"
          >
            <span>Add a disease</span>
          </button>
          <div class="form-group">
            <!-- <input type="text" class="form-control" /> -->
            <input
              type="text"
              class="form-control"
              [formControlName]="i"
              *ngFor="let disease of diseases; let i = index"
            />
          </div>
        </div>

        <hr />

        <div formArrayName="prescriptions">
          <h5>Add your prescriptions</h5>
          <button
            class="btn btn-secondary plus-button"
            type="button"
            (click)="onAddPrescription()"
          >
            <span>Add a prescription</span>
          </button>
          <div class="form-group">
            <!-- <input type="text" class="form-control" /> -->
            <input
              type="text"
              class="form-control"
              [formControlName]="i"
              *ngFor="let prescription of prescriptions; let i = index"
            />
          </div>
        </div>
      <hr />

      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!newPatientForm.valid"
      >
        Add Patient
      </button>
    </form>
  </div>
</div>
