ul{
    list-style: none;
    padding: 0;
}
li{
    margin-top: 1rem;
}
input{
    margin-bottom: 0.4rem;
}

.personal-info{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 2.5rem;
    width: 70%;
}
.name-input, .disease-input, .prescription-input {
  display: flex;
  flex-direction: column;
}
.name-input{
  width: 25%;
}

.disease-input, .prescription-input{
    width: 70%;
}
textarea{
    resize:none;
}
