<div class="container">
  <div class="row">
    <div class="doc-intro">
      <img src="../../assets/images/doc-default-icon.jpg" alt="doc-avatar" />
      <div class="full-name">
        <h1>Name Surname Lastname</h1>
        <hr>
        <h3>Speciality: General Medicine</h3>
        <hr>
        <h4>Experiense</h4>
        <ul> 
            <li>1st workplace</li>
            <li>2nd workplace</li>
            <li>3d workplace</li>
        </ul>
        <hr>
        <h4>Education</h4>
        <ul>
            <li>Medical college</li>
            <li>Medical university</li>
        </ul>
        <hr>
        <h4>Current workplace:</h4> 
        <p> Kharkiv Regional Hospital</p>
        <hr>
      </div>
    </div>
  </div>
</div>
